@import url("./utils/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.separator::after {
    content: "";
    height: 5rem;
    margin-left: 1rem;
    border: 1px solid white;
}

.icon-container-style:hover {
    background-color: #ebebeb;
}

.icon-styles:active {
    background-color: #dadada;
    transition: background-color 0.5s ease;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-underline::after {
    content: "";
    display: flex;
    width: 3.6rem;
    border: 1px solid #c00;
}

.featurelist-hover p,
.icon {
    color: rgb(95, 92, 92);
    transition: color 0.3s ease-in-out;
}

.featurelist-hover:hover p,
.featurelist-hover:hover .icon {
    color: #189;
}

.featurelist-hover {
    box-shadow: 0px 0px 0px 0px #c0c0c0;
    transition: box-shadow 0.3s ease-in-out;
}

.featurelist-hover:hover {
    box-shadow: 2.5px 2.5px 5px 2px #c0c0c0;
}


::-webkit-scrollbar {
    width: 0.25rem;
}



::-webkit-scrollbar-track {
    background-color: #ffffff;
}



::-webkit-scrollbar-thumb {
    background-color: #c00;
    border-radius: 100vh;
}